<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
   <div class="container mt-3">
    <h1 class="text-primary text-center">Crud In Django</h1>
    <a href="/" class="btn btn-warning mb-3">Back To Home</a>
      <form method="post" action="{% url 'update' %}">
        {% csrf_token %}
          <div class="form-group">
              <label>First Name: </label>
              <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name" value="{{ all_data.first_name }}">
          </div>
      
        <div class="form-group">
              <label>Last Name: </label>
              <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name" value="{{ all_data.last_name }}">
          </div>
     
        <div class="form-group">
              <label>Email: </label>
              <input type="text" name="email" id="email" class="form-control" placeholder="Email" value="{{ all_data.email }}">
          </div>

          <div class="form-group">
            <div class="mb-2">
                <label class="form-check-label" for="exampleRadios1">
                    Gender 
                </label>

            </div>
            <div class="form-check">

              <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="Male"  {% if 'Male' in all_data.gender  %} checked {% endif %}>

              <label class="form-check-label" for="exampleRadios1">
                Male
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="Female" {% if 'Female' in all_data.gender  %} checked {% endif %}>            
              <label class="form-check-label" for="exampleRadios2">
                Female
              </label>
            </div>
        </div>

        <div class="form-group">
            <div class="mb-2">
                <label class="form-check-label" for="exampleRadios1">
                    Hobby
                </label>

            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Cricket" id="defaultCheck1" name="hobby" {% if 'Cricket' in all_data.hobby  %} checked {% endif %}>
              <label class="form-check-label" for="defaultCheck1">
               Cricket
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Football" id="defaultCheck1" name="hobby" {% if 'Football' in all_data.hobby  %} checked {% endif %}>
              <label class="form-check-label" for="defaultCheck1">
               Football
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="Badminton" id="defaultCheck1" name="hobby" {% if 'Badminton' in all_data.hobby  %} checked {% endif %}>
              <label class="form-check-label" for="defaultCheck1">
               Badminton
              </label>
            </div>
        </div>

        <div class="form-group">
            <label>City</label>
            <select name="city" class="form-control">
                <option value="">Select</option>
                <option value="Bharuch" {% if 'Bharuch' in all_data.city  %} selected {% endif %}>Bharuch</option>
                <option value="Vadodara" {% if 'Vadodara' in all_data.city  %} selected {% endif %}>Vadodara</option>
                <option value="Anand" {% if 'Anand' in all_data.city  %} selected {% endif %}>Anand</option>
                <option value="Surat" {% if 'Surat' in all_data.city  %} selected {% endif %}>Surat</option>
            </select>
        </div>

          <input type="hidden" name="uid" value="{{ all_data.id }}">

        <div class="form-group">
              <input type="submit" name="submit" class="btn btn-primary" onclick="return validateForm()">
          </div>

      </form>
   </div>

   <script type="text/javascript">
       function validateForm() {

        let fname = document.getElementById('fname');
        let lname = document.getElementById('lname');
        let email = document.getElementById('email');


        if(fname.value=='') {
            fname.classList.add("is-invalid");
            fname.classList.remove("is-valid");
        } else {
            fname.classList.add("is-valid");
            fname.classList.remove("is-invalid");
        }

        if(lname.value=='') {
            lname.classList.add("is-invalid");
            lname.classList.remove("is-valid");
        } else {
            lname.classList.add("is-valid");
            lname.classList.remove("is-invalid");
        }

        if(email.value=='') {
            email.classList.add("is-invalid");
            email.classList.remove("is-valid");
        } else {
            email.classList.add("is-valid");
            email.classList.remove("is-invalid");
        }

        if (fname.value!='' && lname.value !='' && email.value !='') {
            return true;
        } 

        return false;
       }
   </script>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    -->
  </body>
</html>